rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAllowedUser() {
      return request.auth != null
        && request.auth.uid in [
          'CXEghvqTyEfiJJjY3zn6lNGjXg03',
          's2MvSu9sbWREHYifLrSehKQ6QNB3',
          'gV9UDP2O0efmp3YWZiWk5NOXfYm1'
        ];
    }

    // Allow the users listed in allowedUsers.md to read and write all documents.
    match /{document=**} {
      allow read, write: if isAllowedUser();
    }
  }
}
